.App {
  text-align: center;
}

.AppHeader {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.scoreContainer {
  position: relative;
  width: 6%;
  padding: 4%;
  margin: 1%;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
}

.addBoardBtn {
  margin-top: 15px;
}

.addBoardBtn, .deleteAllBtn, .resetAllBtn {
  margin-left: 5px;
  margin-right: 5px;
}

.deleteBtn {
  position: absolute;
  margin: 5px;
  top: 0px;
  right: 0px;
  border:none;
  background: none;
  font-size: 12px;
}

.oldList, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}


input {
  width: 75%;
  font-size: 10px;
}

.icon {
  font-size: 20px;
  border: none;
  background: none;
}

.scoreSubmit {
  visibility: hidden;
}

.resetBtn {
  margin: 5px;
}

.undo0 {
  display: none;
}

.credits {
  color: grey;
  font-size: 4px;
}

.credits a {
  color: grey;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .scoreContainer{
        width: 50%;
        margin-left: -25px;
    }
}
